{% extends "todolist/layout.html"%}
{% block body %}
<div class="about">
    <div class="about_heading">
        <h1 class="about_heading_h"> welcome to todo</h1>
        <p class="about_heading_text">Manage your tasks eaisly and save time because "time is 
            not thing, it is the only thing"</p>
    </div>
    <div class="about_feature">
        <ul class="about_feature_list">
            <li class="about_feature_list_item left"> organize your work </li>
            <li class="about_feature_list_item right"> save time </li>
            <li class="about_feature_list_item left "> user friendy interface</li>
            <li class="about_feature_list_item right "> stay updated </li>
        </ul>
    </div>
    <div class="about_me">
        <a class="fa fa-instagram fa-3x colorw about_me_icon" href="https://www.instagram.com/lovepreet3092001"></a>
        <a class="fa fa-linkedin fa-3x colorw about_me_icon" href="https://in.linkedin.com/in/lovepreet-singh-6a4ab8211"></a>
        <a class="fa fa-twitter fa-3x colorw about_me_icon" href="https://twitter.com/lovepre92791257"></a>
       <h1 class="about_me_text"> <span class="about_me_text_light" >developed and desiegned by</span> "Lovepreet singh"</h1>
    </div>
</div>
{% endblock%}