{% extends "todolist/layout.html" %}
{%block body%} 
<div class="index">
        {% if is_empty %}
        <div class="index_empty">
                <h1 class="index_empty_text">nothing to do enjoy the day</h1>
        </div>
        {% else %}
        <div class="index_not_empty">
                <div class="index_not_empty_heading">
                        <h1 class="index_not_empty_heading_text">
                                Below given tasks are remaining for today 
                        </h1>   
                </div>
                <table class="table">
                        <tr class="table_row_heading">
                                <th class="table_heading ">Task discription </th>
                                <th class="table_heading ">Time</th>
                        </tr>
                        {% for y in data %}
                        <tr class="table_row">
                                <td class="table_data">{{ y.task_name }}</td>
                                <td class="table_data"> {{ y.time  }}</td>
                        </tr>
                        {% endfor %}

                </table>
        </div>

        {% endif %}
</div>

{% endblock %}


<!--  django end     -->