{% extends "todolist/layout.html" %}
{%block body%}
{% if is_empty %}
<h1>nothing to do</h1>
{% else %}
        <table>
                <tr>
                        <th>task</th>
                        
                        <th>time</th>
                </tr>
        
                {% for y in data %}
                <tr>
                <td>{{ y.task_name }}</td>  
                <td> {{ y.time  }}</td>

                </tr>
                {% endfor %}
       
        </table>
{% endif %}
 {% endblock %}   