{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>todolist</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar">
        <span class="navbar_img_span">
            <img src="{% static 'images/test.png'%}" alt="" class="navbar_icon">
        </span>
        <span class="navbar_text_span">
            <h3 class="navbar_text ">welcome to todo</h3>
        </span>
        <span class="navbar_link_span">
           {% if user.is_authenticated %}
            <a class="navbar_link " href="{% url 'add' %}">add</a>
            <a class="navbar_link" href="{% url 'remove' %}">remove</a>
            <a class="navbar_link " href="{% url 'index' %}">home page </a>
            <a class="navbar_link " href="{% url 'about' %}">about</a>
            <a class="navbar_link " href="{% url 'logout' %}">logout</a>
            {% else %}
            <a class="navbar_link " href="{% url 'about' %}">about</a>
            {% endif %}
        </span>

    </div>

    {% block body %}
        {% endblock %}
</body>

</html>