{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>todolist</title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    </head>
    <body>
        <nav>
            <h3>welcome to todo</h3>
            <a href="{% url 'add' %}">add</a>
            <a href="{% url 'remove' %}">remove</a>
            <a href="{% url 'index' %}">home page </a>
            <a href="{% url 'about' %}">about</a>
            <a href="{% url 'logout' %}">logout</a>
        </nav>
        {% block body %}
        {% endblock %}
    </body>

</html>
