{% extends "todolist/layout.html" %}
{%block body%}

    <div class="loginpage_outer">
        <div class="login">
            {% if incorrect_password%}
            <div class="login_error">
                <h1 class="login_error_text">incorrect username or password!</h1>
            </div>
            {% endif %}
            <div class="login_form">
                <form action="{% url 'loginx' %} " method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" class="login_form_input">
                    <input type="password" name="password" placeholder="Password" class="login_form_input">
                    <input type="submit" placeholder="login" value="login" class="login_form_submit">
                </form>
            </div>
        </div>
        <div class="signup">
            <h1 class="signup_text">don't have account </h1>
            <div class="signup_button">
                <a class="signup_button_text" href="{% url 'signup' %}" class="signup_button">signup</a>
            </div>
        </div>
    </div>

    {% endblock %}